:disabled {
    opacity: .5;
    cursor: not-allowed; 
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: transparentize($grey, .2);
    max-width: 100%;
}

#submit-game {
    display: flex;
    position: relative;
    max-width: 88%;
    min-height: 50px;
    width: 30rem;
    background: $white;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3rem 0;

    button.submit-game-button {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 3rem;
        border-radius: 0 0 20px 20px;
        appearance: none;
        border: none;
        font-size: 1.2rem;
        background: $green;
        color: $white;
        cursor: pointer;

        &:hover {
            background: darken($green, 10%);
        }
    }

    #submit-game-info {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 3rem;
        background: $blue;
        border-radius: 20px 20px 0 0;
        padding: 10px;
        z-index: 5;
        box-shadow: $box-shadow;
        display: flex;
        justify-content: center;

  

        #submit-game-info-game {
            color: $white;
            font-size: 1.5rem;
        }

        button.exit {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0px;
            border: none;
            appearance: none;
            width: 3rem;
            background: transparent;
            color: $white;
            font-size: 1.4rem;
            cursor: pointer;
            transition: $standard-transition;

            &:hover {
                transform-origin: center;
                transform: scale(1.2);
            }
        }
    }

    .fieldset {
        display: flex;
        font-size: 1.2rem;
        height: 100%;
        width: 50%;
        border: none;
        flex-direction: column;
        padding: 10px;
        box-shadow: $box-shadow;
        z-index: 4;
        flex-grow: 1;

        &:first-of-type {
            border-right: 1px solid $blue;
        }

        label {
            flex-grow: 1;
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        input {
            width: 100%;
            padding: 10px;
            font-size: 1.1rem;
            box-shadow: $box-shadow;
            border: none;
            transition: $standard-transition;

            &:focus {
                box-shadow: $box-shadow-heavy;
                transform: scale(1.05);
            }
        }
    }
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    margin: 2.5rem;
    -webkit-overflow-scrolling: touch;
}

.results-table {
    font-size: 14px;
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    color: $white;
    border: 3px solid $green;
    border-radius: 10px;

    tr {
        padding-top: .5rem;
        border-bottom: 1px solid transparentize($white, .5);
    }

    th {
        padding-bottom: .5rem;
        border-bottom: 1px solid $white;
    }

    th,
    td {
        @media screen and (max-width: 767px) {
            font-size: 10px;
        }
        padding-top: .5rem;
        padding-left: .5rem;
    }
}
