#initial-section,
#tourney {
    width: 100vw;
    min-height: 100vh;
    padding: 0rem 2.5rem 0.5rem;
    display: flex;

    @media screen and (max-width: 766px) {
        display: block;
    }

    &.is-inactive {
        display: none;
    }
}

.headline-container {
    display: none;
    background: $grey;
    padding: 2rem 2.5rem;
    margin-bottom: -2rem;
    text-align: center;
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 1px $blue,
               0 0 1px  $blue,
               0 0 1px  $blue,
               0 0 3px  $white,
               0 0 4px  $white,
               0 0 8px  $white,
               0 0 10px $white,
  }
  to {
    text-shadow: 0 0 1px $blue,
               0 0 1px $blue,
               0 0 1px $blue,
               0 0 2px $white,
               0 0 2px $white,
               0 0 3px $white,
               0 0 3px $white,
  }
}

#tournament-name-heading {
    color: $white;
    font-size: 32px;

    &:hover{ 
        animation: neon3 1.5s ease-in-out infinite alternate; 
    }
}
