#tournament-finished-animated-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $blue;
    color: $white;
    z-index: 20;


    .fa-star {
        color: gold;
        font-size: 5rem;
        margin-bottom: 2rem;
    }
}

.t-f-container {
     position: relative;
    height: 100%;
    width: 100%;
}

.t-f-animated-star {
    margin: 0;
}

.t-f-animation-container {
    margin: 0;
}

.t-f-summary-container {
    margin: .5rem auto;
    border: 1px solid $white;

    @media screen and (min-width: 768px) {
        width: 70%;
    }
}

.t-f-animation {
    position: absolute;
    width: 300px;
    left: calc(50% - 150px);
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center;
}


.congrats-winner {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; // animation should make it 1
    transform: translateY(125px);

    @media screen and (max-width: 767px) {
        font-size: 1.5rem;
    }
}

.congrats {
    margin-bottom: 1rem;
}

.congrats-winner-name {
    font-weight: bold;
}

@keyframes pop {
    60% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.pop-once {
    animation-name: pop;
    animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes appearFromBottom {
    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.appear-from-bottom {
    animation-name: appearFromBottom;
    animation-timing-function: cubic-bezier(.68,-0.55,.27,1);
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.html-contrained-to-screen-height {
    // add via javascript
    max-height: 100vh;
}

.button.show-results {
    opacity: 0;
    color: $yellow;
    margin: 30px auto 10px;
    background: transparent;
    border: 1px solid $yellow;

    &:focus {
        outline: 4px dotted $yellow;
        outline-offset: 1px;
    }
}


@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-timing-function: cubic-bezier(.68,-0.55,.27,1);
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
