@import './utilities/index';

html {
    font-family: $family-sans-serif;
}

$body-background: white;
$game-background: #8884ff;
$game-color: #fbf9ff;
$game-border: transparentize($game-color, .6);
$border-size: 4px;
$game-secondary: #b3b7ee;

html {
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

body {
    background: $body-background;
}

.tourney {
    display: flex;
}

*[hidden] { display: none; }

.game {
    background: $game-background;
    color: $game-color;
    margin: 10px auto;
    border: $border-size solid $game-border;    
    border-radius: 8px;
}

.player-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
}

.player,
.score {
    border-top: $border-size solid $game-border;
    padding: 4px;
    text-align: center;
}

.player {
    padding: .5em;
    font-size: 1.5em;
}

.winner,
.game-name {
    border-top: $border-size solid $game-border;
    padding: 4px;
    text-align: center;

    &:first-child {
        border-top: none;
    }
}
@import './grid';
